{% if site.tokens.giscus %}
<div class="giscus" style="margin-bottom: 2em;">
  <script src="https://giscus.app/client.js"
          data-repo="{{ site.tokens.giscus.repo }}"
          data-repo-id="{{ site.tokens.giscus.repo_id }}"
          data-category="{{ site.tokens.giscus.category }}"
          data-category-id="{{ site.tokens.giscus.category_id }}"
          data-mapping="title"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="1"
          data-input-position="bottom"
          data-theme="light"
          data-lang="{{ site.lang }}"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>
{% endif %}
